[2018-01-12 02:47] dagmon2 opened #6 "Difficulties with android gradle build"
Hi guys! we are exited to start use nakama server!
we are encountering an issue with gradle build,

we are working with LibGdx and on our build.gradle Project file we have added under allprojects{}
[code]
and under project(":core"){}
[code]
when we are trying to build the project we get the following error:

"Error:Error converting bytecode to dex:
Cause: Dex cannot parse version 53 byte code.
Thi

[2018-01-12 08:48] novabyte commented on #6
Hi @dagmon2. Can you share the build scripts you've got for your project? If possible put them in a gist and I'll investigate. It definitely looks like for some reason the version forced for the slf4j dependency is ignored by Gradle where it shouldn't be.

[2018-01-12 14:16] dagmon2 commented on #6
Thank you,

i have put here the root project gradle build, core and android gradle builds.

https://gist.github.com/dagmon2/1db465321eb77f4346aa7031feb11706

please tell me if anything else is needed,

thanks!

[2018-01-14 14:37] dagmon2 commented on #6
Hi,

we have managed to work around this by excluding slf4j package from nakama client build,
like this:

compile ('com.heroiclabs.nakama:client:0.5.1'){
            exclude group: 'org.slf4j', module: 'slf4j-api'
        }

Daniel

[2018-01-14 18:47] novabyte commented on #6
@dagmon2 I've not had a chance to investigate yet - was going to take a look on Monday. Has the syntax changed with Gradle for how to exclude or restrict dependencies? Let me know what version of Gradle you use.

[2018-01-15 01:12] dagmon2 commented on #6
@novabyte  thanks for the response,

its the first project i work with gradle with so i dont know about syntax change.

about gradle version, on the gradle.wrapper.properties file i see gradle-3.3
and on the main build.gradle file i see:
...
buildscript {
  dependencies {
     classpath 'com.android.tools.build:gradle:2.3.0'
  }
}
...

but i dont know which of them has precedence

[2018-01-15 01:13] dagmon2 commented on #6
@novabyte thanks for the response,

its the first project i work with gradle with so i dont know about syntax change.

about gradle version, on the gradle.wrapper.properties file i see gradle-3.3
and on the main build.gradle file i see:
[code]
but i dont know which of them has precedence

[2018-04-09 18:01] jmartos89 opened #7 "GWT + libGDX support"
I'm following this tutorial to integrate the library -> https://heroiclabs.com/docs/tutorial-develop-with-libgdx/

The Android, iOS and Destkop versions work correctly for me but when compiling the HTML version I get the following error:

`No source code is available for type com.heroiclabs.nakama.Client; did you forget to inherit a required module?

No source code is available for type com.heroic

[2018-05-16 09:25] FalconJ opened #8 "Configuration 'compile' is obsolete"
In my Gradle output I get the following warning:

`Configuration 'compile' is obsolete and has been replaced with 'implementation' and 'api'.
It will be removed at the end of 2018. For more information see: http://d.android.com/r/tools/update-dependency-configurations.html
`
Just a friendly reminder to update the configuration for the release of 2.0.0.

[2018-05-16 09:42] novabyte commented on #8
Thanks @FalconJ. We also need to update this client for the new major release of Nakama so we'll work on the tasks in parallel.

[2018-05-19 11:37] mofirouz opened #9 "Update to support Nakama 2"
Please leave a comment (or emoji 😄 ) if you'd like us to update this client to Nakama 2.

[2018-05-31 15:24] FalconJ commented on #9
![](https://assets-cdn.github.com/images/icons/emoji/unicode/1f604.png)

[2018-06-01 10:49] blacklightknight commented on #9
😄

[2018-06-05 20:29] shawnt1990 commented on #9
😄

[2018-06-17 17:05] XPDT1 commented on #9
😄

[2018-07-10 10:42] drone-ah commented on #9
:)

[2018-07-15 23:41] bkollc commented on #9
😄

[2018-07-16 00:44] saragames commented on #9
Ok

[2018-07-29 14:48] formatCvt commented on #9
:fire:

[2018-08-02 01:03] TheLaughingMan4 commented on #9
😄

[2018-08-09 12:53] OmidMahmoudi commented on #9
![image](https://user-images.githubusercontent.com/19889603/43900018-e05453ee-9bf8-11e8-9f31-0086afefd545.png)
![image](https://user-images.githubusercontent.com/19889603/43900018-e05453ee-9bf8-11e8-9f31-0086afefd545.png)

[2018-08-29 12:09] ahmedk92 commented on #9
😄

[2018-09-02 11:45] SayedArfa commented on #9
😄

[2018-10-31 15:24] zerg1971 commented on #9
+1

[2018-11-16 09:48] zerg1971 opened #14 "Write to storage request does not work"
Write to storage request does not work.

For example this code (from Nakama's documentation at https://heroiclabs.com/docs/storage-collections/ ) prints empty acks.getAcksList())
[code]
result:
[code]

and after that request table "storage" in CocroachDB is empty

UPDATE:
versions:
nakama-java: 2.0.0-SNAPSHOT, https://github.com/heroiclabs/nakama-java/commit/ed8a11e7de6396a448d5c3fce01dedebfa99889

[2018-11-16 10:18] mofirouz commented on #14
I believe I have fixed this issue here: https://github.com/heroiclabs/nakama-java/commit/991d78b21dfc768fcda8dce5d1399f952e1341b7

Could you pull and try again?

[2018-11-16 10:59] zerg1971 commented on #14
yes, all right, thank you !

[code]

[2018-11-16 11:04] #14 closed

[2019-02-18 21:49] mohsenyz opened #19 "Documentation mismatch with version 0.5.1"
Documentation doesn't match the latest release.
It seems it matches source code, but i cant build the source code also

[2019-02-19 11:26] mohsenyz commented on #9
:smile_cat:

[2019-02-19 11:29] mofirouz commented on #9
The Java client is actually completely compatible with Nakama 2 already - however we've not had the chance to configure various release management tools (maven central, jcenter etc) and publish a full release. If you want a pre-release, jump on [Gitter](https://gitter.im/heroiclabs/nakama) and DM me and I'll give you a precompiled JAR file.

The documentation on the website is for Nakama 2 client

[2019-02-19 11:30] mofirouz commented on #9
I'm leaving this open until we actually finalise the release.

[2019-02-19 11:31] mofirouz commented on #19
The inline code docs are for Nakama 2.0, as well as all the documentation on the website. Please see [this issue](https://github.com/heroiclabs/nakama-java/issues/9) for more info.

[2019-02-19 11:31] #19 closed

[2019-02-28 19:35] illia-romanenko opened #20 "Can't build using 'gradle build'"
Hi
I'm trying to build 'nakama-java' using 'gradle build' but it fails.

When I remove "GradleVersion.current().version":

     commitMessage = "Published javadoc" + project.version + "via Gradle " + GradleVersion.current().version + "."

it then fails with:
Build file '/Users/illia/Documents/Nakama/nakama-java/build.gradle' line: 206

If I remove publishing section completely I run into this issu

[2019-02-28 19:38] novabyte commented on #20
Hey @illia-romanenko what version of gradle do you use?

[2019-02-28 19:39] illia-romanenko commented on #20
@novabyte  thanks for such a quick response Chris!

Gradle 5.2.1
------------------------------------------------------------

Build time:   2019-02-08 19:00:10 UTC
Revision:     f02764e074c32ee8851a4e1877dd1fea8ffb7183

Kotlin DSL:   1.1.3
Kotlin:       1.3.20
Groovy:       2.5.4
Ant:          Apache Ant(TM) version 1.9.13 compiled on July 10 2018
JVM:          9.0.4 (Oracle Corporation 9.0.4+11)

[2019-02-28 19:53] novabyte commented on #20
@illia-romanenko I've just updated to the Gradle 5.2.1 release and you're right. The guys at Gradle have broken their plugin API again so we'll have to update the build process to be compatible again. This will likely require us to drop the Gradle 4+ releases. The quickest solution is to drop down to Gradle 4 release for now.

[2019-02-28 20:04] illia-romanenko commented on #20
@novabyte that's very unfortunate but it is what it is, thanks for checking this for me - I'll give it a try.

[2019-03-05 08:13] ipolev commented on #20
It's not build on gradle 4.10.1

[2019-03-06 15:06] mofirouz commented on #20
@ipolev what's the error you get when using Gradle 4.10?

[2019-03-12 07:53] ipolev commented on #20
@mofirouz
package com.heroiclabs.nakama.api does not exist

[2019-03-28 23:09] mofirouz commented on #9
We've released v2.0.0 of Nakama Java client:
https://github.com/heroiclabs/nakama-java/releases/tag/v2.0.0

[2019-03-28 23:09] #9 closed

[2019-03-31 19:38] mohsenyz opened #21 "StatusRuntimeException: INTERNAL: Error querying records from leaderboard, while using `listLeaderboardRecordsAroundOwner` function with limit argument"
Hi, I get this error while using function  `listLeaderboardRecordsAroundOwner(session, id, userId, limit)` where limit is set to 3
[code]
If I set limit to `1` or remove the limit argument then everything is OK and only one record is returned, but problem exists with values more than `1`

My leaderboard has 9 records, which **1** record is above **myUser**, and **7** records are below that.

Thank

[2019-03-31 19:40] mofirouz commented on #21
Hiya. Could you forward the server errors as well?

[2019-04-01 11:07] mohsenyz commented on #21
Sorry I forgot to attach server logs, Here are the log:
[code]

[2019-04-03 11:55] mohsenyz commented on #21
Any solution?

[2019-04-03 12:28] novabyte commented on #21
Hi @mohsenyz have you looked at the code within the client? We'd appreciate a pull request to help 👍

[2019-04-03 12:39] mofirouz commented on #21
This sounds like it is a server issue, not a client issue. Please re-open this on the main [Nakama repo](https://github.com/heroiclabs/nakama) and we'll take a look as soon as we have a moment.

[2019-04-03 12:39] #21 closed

[2019-04-14 14:44] Jawadwithw opened #22 "Didn't find class "io.grpc.okhttp.OkHttpChannelBuilder""
After adding the  nakama-java-2.0.0.jar file to my android project and add that as library to dependency , i get this error:
java.lang.NoClassDefFoundError: Failed resolution of: Lio/grpc/okhttp/OkHttpChannelBuilder;
        at com.heroiclabs.nakama.DefaultClient.<init>(DefaultClient.java:104)
        at com.heroiclabs.nakama.DefaultClient.<init>(DefaultClient.java:72)
        at develop.withw.hur

[2019-05-01 05:00] Jawadwithw opened #23 "java.lang.NoClassDefFoundError: Failed resolution of: Lcom/heroiclabs/nakama/DefaultSession$1;"
when i want to get session of client in Android,I get this error:
java.lang.NoClassDefFoundError: Failed resolution of: Lcom/heroiclabs/nakama/DefaultSession$1;
can anybody help me with this issue?

[2019-05-02 07:21] Jawadwithw opened #24 "Duplicated classes when using nakama-java-2.0.0all.jar"
My dependencies are :
`  def lifecycle_version = "2.0.0"
    def room_version = "2.1.0-alpha03"
    implementation fileTree(include: ['*.jar'], dir: 'libs')
    implementation 'androidx.appcompat:appcompat:1.1.0-alpha04'
    implementation 'com.google.android.material:material:1.1.0-alpha05'
    implementation 'androidx.cardview:cardview:1.0.0'
    implementation 'androidx.constraintlayout:constra

[2019-05-02 10:44] mofirouz commented on #24
What is the exact error the mentions the duplicated class/package?

I suspect it is from `com.google.code.gson` - as Nakama's library uses that dependency as well.

[2019-06-22 13:38] metaphore opened #25 "UserPresence is always empty in MatchData"
When I send messages between clients withing the same match, they receive them just fine in `SocketListener#onMatchData(MatchData)`. The only problem is I always get null in `MatchData#userPresence` on the receiving end.

I send messages with `WebSocketClient#sendMatchData(String, long, byte[])`.
Am I doing something wrong?

_Nakama 2.5.1_
_Nakama Java 2.0.1_

[2019-06-22 13:56] zyro commented on #25
@metaphore Issues are not the best place to ask questions, they're typically used to raise and tracked confirmed problems. You should head over to our [community channel](https://gitter.im/heroiclabs/nakama) for general questions.

For now though, are you using an authoritative or relayed multiplayer match?

[2019-06-22 14:04] metaphore commented on #25
@zyro sorry about that, will keep in mind for future cases.

I follow instructions from [Realtime Multiplayer ](https://heroiclabs.com/docs/gameplay-multiplayer-realtime/) documentation section.

[2019-10-13 21:28] m3doune opened #27 "Upload library into central repositories and make it downloadable via Gradle."
Using Gradle download version 0.5 instead of 2.0.*. Can you update this, please?

[2019-10-16 14:08] mofirouz commented on #27
Thanks a lot for the reminder @m3doune - The precursor task to this is updating the client library to use the latest Gradle 5 build system.

For the time being, please consider downloading the library directly from GitHub.

[2019-10-16 14:11] mofirouz commented on #23
Closing due to inactivity.

[2019-10-16 14:11] #23 closed

[2019-10-16 14:12] mofirouz opened #28 "Update to Gradle 5."
Currently the client library can only be built using Gradle 4 (latest tested version is 4.10.3). We should move this to use Gradle 5 and publish the library into central repositories.

[2019-10-16 14:13] mofirouz commented on #20
Created https://github.com/heroiclabs/nakama-java/issues/28 to track updating client library to Gradle 5.

[2019-10-16 14:13] #20 closed

[2019-10-16 14:14] mofirouz commented on #7
Closing due to inactivity.

[2019-10-16 14:14] #7 closed

[2019-10-16 14:16] mofirouz commented on #8
We should upgrade to Gradle 5 and use the latest build system. This is tracked in #28.

[2019-10-16 14:16] #8 closed

[2019-10-16 15:17] mofirouz commented on #25
Fixed in https://github.com/heroiclabs/nakama-java/commit/2222f178a6ed971d16ce3c7ab1474bb44a5f6453

[2019-10-16 15:17] #25 closed

[2019-12-07 02:56] hyb1234hi opened #29 "Java connection always shows failure."
Java connection always shows failure. The failure content is as follows:
Failed closing connection
java.net.SocketException: Socket closed
	at java.net.SocketOutputStream.socketWrite(SocketOutputStream.java:116)
	at java.net.SocketOutputStream.write(SocketOutputStream.java:153)
	at okio.Okio$1.write(Okio.java:79)
	at okio.AsyncTimeout$1.write(AsyncTimeout.java:180)
	at okio.RealBufferedSink.close(

[2019-12-07 06:56] mofirouz commented on #29
Hi there. Could you elaborate more when this actually happens? Are you closing the socket? Or are you closing the gRPC connection? Is this a network disconnect?

[2019-12-07 09:03] hyb1234hi commented on #29
Thank you for your reply. I only wrote these codes

public static void main( String[] args ) throws InterruptedException, ExecutionException, IOException
    {
    	Client client = new DefaultClient("defaultkey", "127.0.0.1",  7350, false);
    	String email = "super@heroes.com";
    	String password = "batsignal";
    	Session session = client.authenticateEmail(email, password).get();
    	System

[2019-12-07 09:06] hyb1234hi commented on #29
or this
Exception in thread "main" java.util.concurrent.ExecutionException: io.grpc.StatusRuntimeException: UNAVAILABLE: error in frame handler
	at com.google.common.util.concurrent.AbstractFuture.getDoneValue(AbstractFuture.java:500)
	at com.google.common.util.concurrent.AbstractFuture.get(AbstractFuture.java:479)
	at com.google.common.util.concurrent.AbstractFuture$TrustedFuture.get(AbstractFutu

[2019-12-07 09:07] hyb1234hi commented on #29
and this
Exception in thread "main" java.util.concurrent.ExecutionException: io.grpc.StatusRuntimeException: UNAVAILABLE
	at com.google.common.util.concurrent.AbstractFuture.getDoneValue(AbstractFuture.java:500)
	at com.google.common.util.concurrent.AbstractFuture.get(AbstractFuture.java:479)
	at com.google.common.util.concurrent.AbstractFuture$TrustedFuture.get(AbstractFuture.java:76)
	at com.dem

[2019-12-07 10:52] hyb1234hi commented on #29
Port 7349 is not open. The issue can be closed

[2019-12-07 11:30] hyb1234hi opened #30 "How to send data in real time in Java class library like SDK"
We can use JavaScript client  exchange data as follows:
socket.onchannelmessage = (channelMessage) => {
  console.info("Received chat message:", channelMessage);
};

const channelId = "pineapple-pizza-lovers-room";
var response = await socket.send({ channel_join: {
  type: 1, // 1 = room, 2 = Direct Message, 3 = Group
  target: channelId,
  persistence: false,
  hidden: false
} });
console.info("S

[2019-12-07 11:36] novabyte commented on #29
I'll close this issue as resolved. Thanks @hyb1234hi

[2019-12-07 11:36] #29 closed

[2019-12-07 11:38] novabyte commented on #30
@hyb1234hi I think this conversation should be moved to the forums as a question on [there](https://forum.heroiclabs.com/). The issue tracker is for errors or problems with the client sdk. Thanks

[2019-12-07 11:38] #30 closed

[2020-01-22 05:11] hament9193 opened #31 "Incompatible dependencies between Firestore and Nakama android Client"
Issue in using Nakama client on android project along with FireStore. There are common dependencies between the two, But Nakama client libs are older which are not compatible anymore. Sample android project with the issue : https://github.com/hament9193/NakamaFirestoreClient

<img width="1338" alt="Screenshot 2020-01-22 at 10 07 18 AM" src="https://user-images.githubusercontent.com/9552261/7286613

[2020-01-22 06:55] mofirouz commented on #31
Thanks for putting together this example. Seems like we’d likely need to update the dependencies of the client SDK.

Is this something you can tackle as part of a PR since you have working knowledge of the what’s clashing between the two SDKs?

[2020-01-22 07:09] mofirouz commented on #31
Can you also tell me what dependencies in nakama-java codebase are causing this clash?

[2020-01-23 04:30] hament9193 commented on #31
FireStore dependencies:
'com.google.firebase:protolite-well-known-types:17.0.0'
'com.google.protobuf:protobuf-lite:3.0.1'
'io.grpc:grpc-protobuf-lite:1.21.0'
'com.google.errorprone:error_prone_annotations:2.3.2'
'io.grpc:grpc-api:1.21.0'
'io.grpc:grpc-core:1.21.0'
'io.grpc:grpc-okhttp:1.21.0'
'io.grpc:grpc-stub:1.21.0'

Nakama dependencies:
'com.google.protobuf:protobuf-java:3.4.0'
'io.grpc:grpc-p

[2020-01-23 09:46] mofirouz commented on #31
Thanks for this - this is fixed on https://github.com/heroiclabs/nakama-java/commit/46ba09b80bbabdabd84808c4fb6f7680bb7aec04 and is available in release v2.0.4.

[2020-01-23 09:46] #31 closed

[2020-06-03 11:28] sthaiya opened #32 "Missing Dependencies"
Trying to compile nakama-java fails with these errors

warning: [options] bootstrap class path not set in conjunction with -source 1.7
/home/sam/nakama-java/src/main/java/com/heroiclabs/nakama/Client.java:884: error: cannot find symbol
    ListenableFuture<FriendList> listFriends(@NonNull final Session session);
                     ^
  symbol:   class FriendList
  location: interface Client
/home

[2020-06-03 11:29] mofirouz commented on #32
Please make sure you use Gradle 4.10 (and not Gradle 5 or later) - this is a known issue.

[2020-06-03 11:46] sthaiya commented on #32
I am using gradle 4.10

------------------------------------------------------------
Gradle 4.10
------------------------------------------------------------

Build time:   2018-08-27 18:35:06 UTC
Revision:     ee3751ed9f2034effc1f0072c2b2ee74b5dce67d

Kotlin DSL:   1.0-rc-3
Kotlin:       1.2.60
Groovy:       2.4.15
Ant:          Apache Ant(TM) version 1.9.11 compiled on March 23 2018
JVM:

[2020-06-03 12:54] sthaiya commented on #32
Looking here

https://github.com/heroiclabs/nakama-java/tree/master/build/generated/source/proto/main/javalite/com/heroiclabs/nakama/api

there is no Event class. Could this be the cause?

[2020-06-03 14:15] novabyte commented on #32
@sthaiya The events API was added to the server in a later release. I can't quite tell from the errors though whether that's the root causes of the unresolved types. IIRC the codebase uses Lombok for some code generation; do you have that configured and working correctly?

[2020-06-03 15:02] sthaiya commented on #32
I think may have missed something there, let me have a relook at Lombok again. Will update

[2020-06-03 15:41] sthaiya commented on #32
I see lombok is a dependency and I have liblombok-java v1.16 installed. So i guess it is well set but I may be missing anything. Is there any setting needed for lombok

[2020-06-04 19:44] sthaiya commented on #32
Any pointer on how to fix this?

[2020-06-07 23:53] sthaiya opened #33 "ChannelType mismatch"
While trying to join a group through the nakama-java client on android i received the Error **User ID not found**. On investigating i realised a mismatch in the enum classes.

rtapi,ChannelType on the server side define:

	ChannelJoin_TYPE_UNSPECIFIED ChannelJoin_Type = 0
	ChannelJoin_ROOM ChannelJoin_Type = 1
	ChannelJoin_DIRECT_MESSAGE ChannelJoin_Type = 2
	ChannelJoin_GROUP ChannelJoin_Type = 3

[2020-06-08 05:03] mofirouz commented on #33
Very good catch. Could you kindly open a PR for this?

[2020-06-08 05:03] mofirouz commented on #33
This probably is the case on other Enum types too.

[2020-06-08 09:14] sthaiya commented on #33
WIll do so though I am unable to compile the code due to dependency problems as I raised in a previous issue. Will try looking through all other enums too

[2020-07-13 02:53] hamentgm commented on #32
@sthaiya you can generate missing classes from below Proto.
https://github.com/heroiclabs/nakama-common/blob/master/api/api.proto

[2020-07-13 13:07] mthakuri opened #34 "Unable to connect with Nakama server"
**Tech Stack info**
Gradle plugin: 4.0.0
Gradle: 6.1.1
Compile SDK: 29
build tool: 30.0.1
libs: **nakama-java-2.0.4-all.jar**
NakaServer  v2.11.1 with cocroachdb v19.2

**Step to reproduce**
1. Create a new Android project
2. Add the nakama-java-2.0.4-all.jar into the libs folder
3. Write the below code in activity

        try {
            Client client = new DefaultClient("defaultkey", "13.233.

[2020-07-13 13:09] mofirouz commented on #34
You'll need to connect to port `7349` with the Java client.

[code]

This isn't an issue. Please follow the documentation thoroughly:

https://heroiclabs.com/docs/android-java-client-guide/#setup

[2020-07-13 13:09] #34 closed

[2020-07-13 15:03] mthakuri commented on #24
Project Config
**Libs**: nakama-java-2.0.4-all.jar
android.useAndroidX=true
android.enableJetifier=true

**Description**

I can see lots of duplicate error occuring in GSON, OkHttp and Okio similar to the one mentioned in this thread so comment on this instead of rasing another issue. The conflict occurs due to the two dependencies(I had ton's but pin pointed to these) shown below. Removing "loggi

[2020-07-13 15:17] mofirouz commented on #24
You are trying to use `com.squareup.okhttp3:logging-interceptor:4.7.2` which looks like its for a different version than what the library is using `com.squareup.okhttp3:okhttp:3.11.0`.

@mthakuri Please have a look at the version of the dependencies the library is using to make sure you are using compatible ones:
https://github.com/heroiclabs/nakama-java/blob/master/build.gradle#L61

[2020-07-13 15:33] mthakuri commented on #24
@mofirouz Yes, I did get that there is a compatibility issue. But I can't downgrade my dependencies. Is it possible to upgrade the java client dependencies without breaking it?

[2020-07-13 16:24] mofirouz commented on #24
It is indeed possible to upgrade the dependencies. Please feel free to fork/experiment and open a PR.

[2020-07-14 18:27] mthakuri commented on #28
@mofirouz Will this compile with OpenJDK 1.8 and above or need Oracle Java 1.7+ only? Coz I'm getting error while running >gradle build

**ERROR**
warning: [options] bootstrap class path not set in conjunction with -source 1.7
D:\Workspace\Others\nakama-java-2.0.4\src\main\java\com\heroiclabs\nakama\AbstractSocketListener.java:19: error: package com.heroiclabs.nakama.api does not exist
import com.

[2020-07-18 11:47] mthakuri commented on #28
@mofirouz I know it's must be a busy schedule for you. But can you please guide me with this or provide something I can look into.

[2020-07-18 15:23] mthakuri commented on #32
@hamentgm You comment helped me with the direction to go. Now I'm able to compile the code although test cases are failing. Will look into it next. Anyone know which server version this client v2.0.4 made for? 2.7.0?

[2020-07-20 14:21] mofirouz commented on #32
@mthakuri At least 2.7.0 - if the tests are failing, make sure your local Nakama server loads [these modules](https://github.com/heroiclabs/nakama/tree/master/data/modules).

[2020-07-20 16:36] samuelowino commented on #22
OSS

[2020-07-20 17:03] mofirouz commented on #22
@samuelowino Not sure what you mean by `OSS`?

[2020-07-20 17:27] samuelowino commented on #22
Fighting with this same problem right now, came here for help but doesn't look like that's the kind of thing offered on this project.

[2020-07-20 17:46] mofirouz commented on #22
@samuelowino This is all basic Java dependency management. You’ve chosen to pull in the JAR which is not the uber JAR so it doesn’t contain the dependencies nested inside the JAR. The usual workflow is to look at the dependencies for this code and add the relevant ones to your Maven or Gradle dependencies.

Your response is not welcome to this project or the Heroic community. It is neither constru

[2020-07-20 17:51] samuelowino commented on #22
If you added the first paragraph of your reply to this issue when @Jawadwithw opened it, you would have helped everyone who is experiencing this problem and maybe gotten some useful feedback instead you just closed the issue.

For instance adding the said missing dependence doesn't solve the problem instead it cause other errors related to other dependencies.

sl4j
Stackworth being once I have see

[2020-07-20 18:09] mofirouz commented on #22
@samuelowino “doesn’t solve the problem” has already been solved and explained that you should look at the dependency tree to ensure you pull in the related deps that the Nakama client depends on. Take a look at this file for the very small set of dependencies this project relies on:

https://github.com/heroiclabs/nakama-java/blob/master/build.gradle#L53

I’ll lock this issue because it has become

[2020-07-21 06:39] sthaiya commented on #32
Thanks @hamentgm. however I am still missing one class NakamaGRPC used within the Default client. @mthakuri  how did you generate this one

[2020-07-21 09:35] mthakuri commented on #32
@sthaiya It's already there in the source build directory at https://github.com/heroiclabs/nakama-java/tree/master/build/generated/source/proto/main/grpc/com/heroiclabs/nakama/api. If you want to generate it by yourself then you can use the file at [https://github.com/heroiclabs/nakama/tree/master/apigrpc](url). The latest file generated some extra classes and function that caused me to ask the ab

[2020-07-26 15:35] mthakuri commented on #32
@mofirouz Do I need to have the Nakama server running locally for test cases to pass?

[2020-08-04 23:37] lugehorsam commented on #33
This is addressed by #35 which defines the following:

[code]

[2020-08-05 16:16] #28 closed

[2020-08-05 16:20] lugehorsam commented on #32
@mthakuri @sthaiya fixed by #35 which packages all the relevant proto files inside the repo.

[2020-08-05 16:20] #32 closed

[2020-08-05 16:20] #33 closed

[2020-08-08 17:30] vladp opened #38 "2.0.5-snapshot getting runtime error: cannot find a NameResolver"
Hello,
I am using this java-client from a non-android backend java app (regular backend app with JDK 11).
Initially, I used released 2.0.4 java client.

Now I am troubleshooting some intermittent 'socket may not be closed issues' under high load with DefaultClient, and decided to upgrade to master (2.0.5-shapsot) of the nakama-java client,  noticing that it was recently updated for gradle 6.5.1

I

[2020-08-08 17:43] mofirouz commented on #38
Thanks for reporting this. I will also test separately as well.

The immediate thought that comes to mind is that somewhere during the Shadowing of the dependencies, we don’t process gRPC manifest information.

Could you please:
1. Try your test again with a regular jar or fatjar (not shadowed), and report again.
2. Clarify what you mean by “ 'socket may not be closed issues' under high load” - ho

[2020-08-08 21:02] vladp commented on #38
@mofirouz Thank you very much for the follow up.

**WRT 1.  It worked without the shadow Jar plugin.**
I had  some suspicion about it as well, and looked at Shadow jar's issue list, and submitted a follow up comment
on a similar report, prior to reporting this. See
https://github.com/johnrengelman/shadow/issues/556
This is also why I tried latest shadowJar, but it did not work.
But anyway, your su

[2020-08-10 08:39] mofirouz commented on #38
Thanks for the extra info - it's very helpful.

We'll look into what's needed to configure the Shadowing and Jar merging properly. Maybe this is something we should consider: https://imperceptiblethoughts.com/shadow/configuration/merging/#merging-service-descriptor-files

I'll leave this issue open as I think it's important to tackle and correct.

[2020-08-10 16:42] vladp commented on #38
Thank you,

wanted to mention one more difficulty that I ran with when deploying the fat/shadow Jar.

Perhaps others will not run into it, so just meant to mention as FYI.

My project is using retrofit2 and underneath, therefore, okhttp and the optional okhttp-logging interceptor.
The retrofit2 is latest up-to-date version, and that underneath relies on okhttp 3.14.9. Which also means, that
okhttp

[2020-08-10 16:49] mofirouz commented on #38
Thanks a lot for this :)

Completely agreed that the OkHttp library we use is very old, and we're going towards upgrading the deps - having said that we are considering OkHttp 4.x - this would be done inline with the shadowing of deps so hopefully won't cause you issues with retrofit2.

We also would like to turn the GitHub repo into a Maven repo because the process involved with Maven Central sub

[2020-08-10 17:36] vladp commented on #38
I am not very familiar with this (never used a dependency that was setup like that). But if the dependency still accessible from Gradle, then it is ok.

May be you can also investigate jitpack.io -- they say, they are free for open source and have what seems to be very easy integration with a github project (especially when the artifact is a single jar).

https://jitpack.io/docs/BUILDING/
I just c

[2020-08-12 20:27] lugehorsam commented on #38
@vladp are you using SSL/TLS?

[2020-08-13 02:41] vladp commented on #38
@lugehorsam  no, not using SSL/TLS between my backend and nakama.

[2020-08-13 20:40] lugehorsam commented on #38
Thanks @vladp. I wanted to update you that I am able to reproduce this locally now inside a test project, so that gets me quite a way there. Will keep you posted :)

[2020-08-13 21:25] lugehorsam commented on #38
@vladp https://github.com/heroiclabs/nakama-java/pull/39 should resolve the issue. Thanks again for the bug report.

[2020-08-13 21:26] #38 closed

[2020-08-13 21:30] lugehorsam opened #40 "Resolve SLF4J loading issue"
When utilizing the Nakama fat jar in a test Java project I noticed the following warning:

[code]

[2020-09-02 14:40] lugehorsam commented on #27
Hey @m3doune , we've updated to Gradle 6.5 - this SDK is downloadable directly from Github via JitPack (see README).

[2020-09-02 14:40] #27 closed

[2020-09-28 19:03] karan1213 opened #45 "Duplicate class"
I am getting a Duplicate class warnings and can't compile the Android project

Here is how I implemented the Gradle file
...
    configurations {
        mplementation.exclude module:'proto-google-common-protos'
        implementation.exclude module:'protolite-well-known-types'
        implementation.exclude module:'protobuf-lite'
        implementation.exclude module:'protobuf-java'
    }
...
imp

[2020-09-28 19:15] lugehorsam commented on #45
@karan1213 it appears that both the fat jar and the regular jar that we distribute our getting included in your build.

`implementation ('com.github.heroiclabs:nakama-java:3dde5b3baf')` shows you are just including the regular jar, which is fine. Is there somewhere else in your Gradle file that you could be including the Nakama fat jar? It has the `-all` suffix that you see in your logs.

[2020-09-28 20:28] karan1213 commented on #45
@lugehorsam No, this single statement add both nakama-java & nakama-java-all

![image](https://user-images.githubusercontent.com/5412693/94482550-15d89f00-01f7-11eb-8060-21f8bb9f7ada.png)

[2020-09-28 20:59] lugehorsam commented on #45
@karan1213 can you share your gradle version and the command you are using to build the gradle project?

Could you also run a clean on your build?

The following `build.gradle` results in a successful build for me:

[code]

[2020-09-28 22:12] karan1213 commented on #45
@lugehorsam
I am using Android Studio to run the project
My project includes Google Play services and Firebase SDK

Do you think Firebase SDK might be causing the issue?

Here are the dependencies

dependencies {
        classpath 'com.android.tools.build:gradle:4.0.1'

        // NOTE: Do not place your application dependencies here; they belong
        // in the individual module build.gradle fi

[2020-09-28 22:46] lugehorsam commented on #45
@karan1213 no I think it's the because something about the Android Studio setup is including both Nakama .jar files for some reason, as I mentioned above. I can take a look tomorrow, but it would help me if you could share your complete build scripts (all `build.gradle` and any scripts specific to Android studio.)

[2020-09-30 17:25] lugehorsam commented on #45
@karan1213 thanks again for filing this issue - we've resolved it in the latest commit.

Updating your .gradle file with the following dependency should do the trick: `com.github.heroiclabs:nakama-java:724d882ef46bca2d685943f1d712729e8a7c4dff`

[2020-09-30 17:25] #45 closed

[2020-11-03 21:34] karan1213 opened #48 "Channel {0} was not shutdown properly!!!"
Sometimes, I get this exception and the app crashes.

[code]

[2020-11-04 19:33] mofirouz commented on #48
Looks to me that your app is closing but you aren't closing the socket/grpc connection to the server. Do you know if this happens in a lifecycle function in your app?

[2021-01-17 16:16] Mir1001 opened #50 "JitPack release tags are not working."
Please check what is wrong. JitPack reports errors on the last tags.

![image](https://user-images.githubusercontent.com/623148/104848927-57e13a00-58e7-11eb-957d-a3c6fc065ac4.png)

[2021-01-17 16:39] lugehorsam commented on #50
@Mir1001 we've yet to do a new official release supporting Jitpack but if you take the latest commit off our master, that should work fine.

We'll do a new release next week to clear up confusion about this.

[2021-01-26 02:03] lugehorsam commented on #50
@Mir1001 we've done a new official release supporting JitPack. This will allow you to pull in our Jitpack package by version string rather than just commit.

https://github.com/heroiclabs/nakama-java/releases/tag/v2.1.0

[2021-01-26 02:03] #50 closed

[2021-03-08 04:53] ANURAGX opened #52 "Android build failure due to protobuf-javalite"
The android build fails because Nakama uses **protobuf-javalite**.
You may wonder why because I need firebase featrues in my app and the firebase uses **protobuf-java** instead of lite version.

And mixining lite and full version of protobuff will result in compilation failures.
I have tried all the possible excludes and it though compiles but results in runtime crash dues to class not found excep

[2021-03-08 08:31] mofirouz commented on #52
There was a similar issue with Firebase before: https://github.com/heroiclabs/nakama-java/issues/31

This was fixed by overriding Nakama's protobuf-lite version to match that of Firebase. Can you please try this locally and make a PR?

[2021-03-08 11:33] ANURAGX commented on #52
Actually I have already tried the similar approach.
I forced the same version of protobuf-lite version

`subprojects {
        project.configurations.all {
            resolutionStrategy.eachDependency { details ->

                if (details.requested.group == 'com.google.protobuf' && details.requested.module.name == 'protobuf.javalite') {
                    details.useVersion "${versionProtobu

[2021-03-08 14:58] lugehorsam commented on #52
Hey @ANURAGX, you should try using our fat Jar which namespaces our dependencies and should avoid a conflict with Firebase's version of Protobuf.

The Gradle line would look like this:

`implementation 'com.github.heroiclabs.nakama-java:nakama-java-all:v2.1.1'`

Let me know how that goes.

[2021-03-08 15:40] ANURAGX commented on #52
@lugehorsam after doing this the project compiles and builds and launches.
But there is new problem the intellisense is not working around Nakama classes.

Without intellisense its very time wasting to write code for Nakama related features.
Any suggestions???

<img width="978" alt="Screenshot 2021-03-08 at 9 09 26 PM" src="https://user-images.githubusercontent.com/5199691/110343547-9b883280-8052-

[2021-03-08 16:32] lugehorsam commented on #52
@ANURAGX what IDE do you use? It depends how you are configuring Intellisense. If you had configured it via specifying a path to the .jar file, be aware that the name of the .jar is changed when you switch to the shadow jar, since it has an `-all` suffix.

[2021-03-08 16:51] ANURAGX commented on #52
@lugehorsam after undoing your changes my intellisense starts working around Nakama classes.

[2021-03-08 17:07] ANURAGX commented on #52
@lugehorsam The intellisense not working may be because of this warning.
<img width="1393" alt="Screenshot 2021-03-08 at 10 35 33 PM" src="https://user-images.githubusercontent.com/5199691/110354989-c11b3900-805e-11eb-9c27-291e7e169fa7.png">

`> Task :Launcher:kaptGenerateStubsWithGameDebugKotlin
w: Some JAR files in the classpath have the Kotlin Runtime library bundled into them. This may cause d

[2021-03-08 17:19] lugehorsam commented on #52
@ANURAGX interesting, nice find. We should definitely fix that regardless. I'll do some local testing and get back to you.

[2021-03-08 17:39] ANURAGX commented on #52
Thanks brother . I will be awaiting for your response.

[2021-03-09 17:11] lugehorsam commented on #52
@ANURAGX okay, let's go back to the original problem here.

I added firebase to our android example and ran `./gradlew build` without any build errors:

https://github.com/heroiclabs/nakama-java/commit/4a7ad24fe855dbedc37a515f0c091bba37b8f119

Your duplicate class exception is a build time error, right? Can you confirm that you can successfully run our example on your machine and/or look for diffe

[2021-03-09 17:41] ANURAGX commented on #52
@lugehorsam
the Nakama's example project builds successfully after adding firebase dependency because of below lines
`configurations {
    implementation.exclude module:'proto-google-common-protos'
    implementation.exclude module:'protolite-well-known-types'
    implementation.exclude module:'protobuf-lite'
    implementation.exclude module:'protobuf-java'
}`

I added these above lines in mine g

[2021-03-09 17:56] ANURAGX commented on #52
@lugehorsam
I deployed Nakama on AWS and my android client is crashing.
As per the crash log I can say the that Nakama server is 3.0+ and client is for 2.0+ versions.
So any ETA on compatible client library for Nakama 3.0.

[2021-03-09 18:03] lugehorsam commented on #52
@ANURAGX great find. The key line is `implementation.exclude module:'protobuf-java'`.

This makes sense since both `protobuf-java` and `protobuf-javalite` share a subset of classes. What's odd is that firebase claims to use `protobuf-javalite` which is consistent with our library, but perhaps that isn't consistent across all of their various packages.

[2021-03-09 18:04] lugehorsam commented on #52
@ANURAGX this library is compatible with Nakama 3.0. Can you share your crash log?

[2021-03-09 18:05] ANURAGX commented on #52
java.lang.RuntimeException: java.lang.reflect.InvocationTargetException
        at com.android.internal.os.RuntimeInit$MethodAndArgsCaller.run(RuntimeInit.java:606)
        at com.android.internal.os.ZygoteInit.main(ZygoteInit.java:1130)
     Caused by: java.lang.reflect.InvocationTargetException
        at java.lang.reflect.Method.invoke(Native Method)
        at com.android.internal.os.RuntimeIn

[2021-03-09 18:13] lugehorsam commented on #52
@ANURAGX can you confirm you are connecting to port 7350 instead of 7349?

[2021-03-09 18:14] ANURAGX commented on #52
@lugehorsam  sorry I m an idiot, i copied the port from postman and I didn't realise that Nakama android client makes use of gRPC on port 7349.

[2021-03-14 07:07] ANURAGX opened #53 "Game Crashes when creating socket."
The Android Game crashes when creating Client Socket.
Steps to reproduce.
1. Do email auth.
2. Once auth is successful, try to create socket and it gives FATAL exception.
3. Below is the MainActivity which I added to example-android and ran the app on android device.

I experienced the same crash in my app, so I tried to repro in the example-android-nakama and it also crashes.

**CRASH-LOGS**
`202

[2021-03-15 13:56] lugehorsam commented on #53
Thanks @ANURAGX for the great issue report -- we're able to reproduce this and will get back to you shortly.

[2021-03-16 20:36] lugehorsam commented on #53
@ANURAGX this should now be fixed in v2.1.2. Please let me know how it goes for you.

[2021-03-16 20:37] lugehorsam commented on #53
Also note, there is no longer a need to exclude `protobuf-java` in your own `build.gradle` file in case you were doing that already.

[2021-03-17 08:20] ANURAGX commented on #53
Thanks @lugehorsam to fix the issue in very short amount of time , I works now.

[2021-03-17 10:16] ANURAGX opened #54 "Not Able to Connect to Server via SocketClient."
Hi,
As the docs here https://heroiclabs.com/docs/android-java-client-guide/
I tried to connect to the server via socket but its not connecting, I m not getting callback for connect either **success** or **failure**.

Below is the activity I added in the nakama-android-example.
`public class MainActivity extends AppCompatActivity {

    @Override
    protected void onCreate(@Nullable @org.jetbrains

[2021-03-18 14:52] #53 closed

[2021-03-19 01:00] lugehorsam commented on #54
Hey @ANURAGX, thanks for filing this issue -- we just did a patch release to fix this. Please give it a try and let me know how it fares.

https://github.com/heroiclabs/nakama-java/releases/tag/v2.1.3

[2021-03-19 05:54] ANURAGX commented on #54
@lugehorsam Yes it works now and my socket is connecting.
Thanks for quick resolution.

[2021-03-19 06:54] #54 closed

[2021-03-30 02:01] yaohuiwu opened #55 "The latest version （v2.1.2） of nakama java client jar package has dependency problems"
I saw from https://jitpack.io/com/github/heroiclabs/nakama-java/ that the latest version of java client is v2.1.2, when I use the following method to import the jar package of this version:

    <repositories>
      <repository>
        <id>jitpack.io</id>
        <url>https://jitpack.io</url>
      </repository>
    </repositories>

      <dependency>
        <groupId>com.github.heroiclabs.nakama

[2021-03-30 02:17] yaohuiwu commented on #55
I think the problem may be that the scope of com.google.protobuf:protobuf-javalite should be **compile** instead of **runtime**. Because Account inherits GeneratedMessageLite, if Account is used in the client code, it will inevitably rely on the com.google.protobuf:protobuf-javalite package when compiling.

[2021-03-30 15:25] mofirouz commented on #55
Have you tried the solution on this mentioned here: https://github.com/heroiclabs/nakama-java/issues/52#issuecomment-792811909

[2021-04-01 08:55] Allan-Nava opened #56 "This version of the Android Support plugin for IntelliJ IDEA (or Android Studio) cannot open this project, please retry with version 4.1 or newer."
Android studio problem with example project

![Screenshot 2021-04-01 at 10 54 26](https://user-images.githubusercontent.com/22498435/113269434-ba3bbb00-92d8-11eb-946b-e23127e091a8.png)

[2021-04-01 09:48] #56 closed

[2021-04-01 09:51] Allan-Nava opened #57 "I'll close this issue as resolved. Thanks @hyb1234hi"
I'll close this issue as resolved. Thanks @hyb1234hi

_Originally posted by @novabyte in https://github.com/heroiclabs/nakama-java/issues/29#issuecomment-562843410_

I have the same problem

2021-04-01 11:50:16.984 22114-22169/com.example.androidnakama E/MainActivity: UNAVAILABLE
2021-04-01 11:50:16.985 22114-22169/com.example.androidnakama W/System.err: io.grpc.StatusRuntimeException: UNAVAILABLE

[2021-04-02 04:02] yaohuiwu commented on #55
I have solved the problem by explicitly introducing the com.google.protobuf:protobuf-javalite dependency with compile scope in my pom.xml.

But I don't think what i did is necessary. The scope of protobuf-javalite dependency introduced by nakama-java should be compile not runtime.
@mofirouz

[2021-04-06 12:18] Allan-Nava commented on #52
I got this error about proto

[code]

![Screenshot 2021-04-06 at 14 18 12](https://user-images.githubusercontent.com/22498435/113709631-04f77180-96e3-11eb-913b-d21f04096bdf.png)

[2021-04-07 10:44] Allan-Nava commented on #57
Fixed it was a problem of haproxy conf

[2021-04-07 10:44] #57 closed

[2021-04-07 10:45] Allan-Nava opened #58 "Cannot access 'com.google.protobuf.GeneratedMessageLite' which is a supertype of 'com.heroiclabs.nakama.api.ChannelMessage'. Check your module classpath for missing or conflicting dependencies"
I this problem:

`Cannot access 'com.google.protobuf.GeneratedMessageLite' which is a supertype of 'com.heroiclabs.nakama.api.ChannelMessage'. Check your module classpath for missing or conflicting dependencies`

<img width="873" alt="Screenshot 2021-04-07 at 12 43 52" src="https://user-images.githubusercontent.com/22498435/113854388-1bfb9980-979f-11eb-89bd-4a811e38afa0.png">

[2021-04-20 12:31] lugehorsam commented on #58
Thanks @Allan-Nava this is now fixed in the latest relase: https://github.com/heroiclabs/nakama-java/releases/tag/v2.1.4

[2021-04-20 12:31] #58 closed

[2021-04-20 12:31] lugehorsam commented on #55
Thanks @yaohuiwu this is now fixed in the latest release so you can remove your temporary fix. https://github.com/heroiclabs/nakama-java/releases/tag/v2.1.4

[2021-04-20 12:31] #55 closed

[2021-04-20 13:16] Allan-Nava commented on #58
Perfect now I will try! Thank you for replying so quickly

[2021-04-21 07:55] yaohuiwu commented on #55
I updated to v2.1.4 and remove the temporary fix. It works well. Great!

[2021-05-03 08:21] Allan-Nava opened #59 "Duplicate class com.google.api"
[code]

Go to the documentation to learn how to Fix dependency resolution errors.

[2021-05-03 09:49] Allan-Nava commented on #59
fixed with
`configurations.implementation.exclude(group: 'com.google.firebase', module: 'protolite-well-known-types') `

[2022-09-21 15:31] #59 closed

[2022-09-21 15:31] #48 closed

[2022-09-22 12:31] Allan-Nava commented on #59
It fixed?

[2022-09-22 13:10] lugehorsam commented on #59
@Allan-Nava this looks like a dependency conflict with Firebase that has to be handled by Gradle in the way you did it. I don't think there's a universal solution for it.

[2022-11-04 14:24] gpene opened #63 "Add Facebook Instant Games Authentication"
This functionality is available is other clients (e.g. [`nakama-js`](https://github.com/heroiclabs/nakama-js/blob/master/packages/nakama-js/client.ts#L542), but missing the in the Java SDK.

[2022-11-04 14:27] gpene opened #64 "Add Google Purchase Validation"
This functionality is available is other clients (e.g. [`nakama-js`](https://github.com/heroiclabs/nakama-js/blob/master/packages/nakama-js/client.ts#L1747), but missing the in the Java SDK.

[2022-11-04 14:28] gpene opened #65 "Add Huawei Purchase Validation"
This functionality is available is other clients (e.g. [`nakama-js`](https://github.com/heroiclabs/nakama-js/blob/master/packages/nakama-js/client.ts#L1757), but missing the in the Java SDK.

[2022-11-04 14:32] gpene opened #66 "Add Realtime Parties"
Real-time Parties feature (as documented [here](https://heroiclabs.com/docs/nakama/concepts/parties/)) is missing.

[2022-11-04 14:39] gpene opened #67 "Add Create Match with Name"
This feature (as documented [here](https://heroiclabs.com/docs/nakama/concepts/multiplayer/relayed/#create-a-match)) is missing.

[2022-11-04 14:40] gpene opened #68 "Add Session Refresh Function"
This feature (as documented [here](https://heroiclabs.com/docs/nakama/concepts/session/#session-refresh)) is missing.

[2022-11-04 14:41] gpene opened #69 "Add Session Logout Function"
This feature (as documented [here](https://heroiclabs.com/docs/nakama/concepts/session/#session-logout)) is missing.

[2022-11-04 14:42] gpene opened #70 "Add Google Subscription Validation"
This feature (as documented [here](https://heroiclabs.com/docs/nakama/concepts/iap-validation/#validate-subscription-1)) is missing.

[2022-11-04 14:45] gpene opened #71 "Add Subscriptions Functions"
Ability to `Get` / `List` subscription purchases (as documented [here](https://heroiclabs.com/docs/nakama/concepts/iap-validation/#subscriptions)) is missing.

[2022-11-21 04:18] karan1213 commented on #33
In the latest codebase, I still see this mismatch. Is this issue really fixed in #35